/* Styles the elements used in the timeline and state distribution plots (bars, etc.) */
/* Note: includes SVG properties where appropriate (e.g., 'fill' instead of 'background-color') */

/* Colour palette:

*/

/* === Bar Chart === */

.barchart {
	
}

.barchart rect {
	
}

.barchart text {
	font: 10px sans-serif;
	text-anchor: end;
}

/* === Timeline === */

.timeline {
	background-color: white;
}

.timeline rect {
	
}

.timeline text {
	font: 10px sans-serif;
	text-anchor: end;
}

/* === Axes === */

.axis text {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

/* === Tooltip === */

.tooltip { /* TODO */
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
